body {
  background: url("wallpic.jpg") no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  margin: 0px;
}
* {
  font-family: "Microsoft JhengHei";
  color: black;
}
a {
  text-decoration: none;
  color: black;
}
.box {
  position: absolute;
  background-color: rgb(250, 250, 250);
  border-radius: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  line-height: 20px;
  padding: 10px;
  backdrop-filter: blur(15px);
}
.box::-webkit-scrollbar {
  display: none;
}
.btn {
  text-decoration: none;
  opacity: 0.8;
  border: none;
  padding: 12px 40px;
  margin: 10px;
  font-size: 16px;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}
.btn:hover{
  background-color: rgb(230,230,230);
}
.btn:active {
  transform: scale(0.85);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.download:hover{
  background-color: rgb(230,230,230);
}