body {
  background: url("wallhaven-9mjoy1.jpg") no-repeat;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  overflow: hidden;
  display: flex;
  width:calc(100% + 15px);
  height: 100%;
}
a{
  text-decoration: none;
  color: white;
  }
h2{
  color: white;
}
p{
  color:white;
}

